html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #444444;
}

nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}

.logo a {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
  position: relative;
}

@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

.content {
  text-align: center;
}

.intro {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#role {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.social {
  letter-spacing: 10px;
  font-size: 22px;
}

.social a:hover {
  color: #444444;
}

h1 {
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
}

.inner-header {
  font-size: 1.875em;
  font-weight: 200;
  display: block;
}

.section-container {
  margin: 150px 100px 0 150px;
}

.inner-section-container {
  line-height: 1.6;
  margin-bottom: 50px;
}

p {
  color: rgb(105, 105, 105);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.skills-container {
  text-align: center;
  margin-top: 40px;
}

.skills-container i {
  font-size: 50px;
  letter-spacing: 15px;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.skills-container img {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.flex-item {
  padding: 0 50px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: -50px;
}

.flex-item img {
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.4);
}

a.link-item {
  font-size: 12px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 10rem;
  padding: 0.5rem 1.9rem;
  margin: 0rem;
}

a.link-item:first-of-type {
  margin-right: 2rem;
}

a.link-item:hover {
  background-color: #000000;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.contact-description a,
.inner-work-description a {
  font-weight: bold;
}

.contact-description a:hover,
.inner-work-description a:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
  transition: 0.2s ease-in-out;
  color: #000;
}

@media only screen and (max-width: 1024px) {
  .flex-item {
    flex-flow: column wrap;
    width: 100%;
    padding: 0;
    margin-left: 0px;
  }

  .flex-container {
    flex-flow: column wrap;
    width: 100%;
  }
}

@media screen and (max-width: 864px) {
  h1 {
    font-size: 35px;
  }

  .section-container {
    margin: 50px 25px 0 50px;
  }
}

@media only screen and (max-width: 414px) {
  h1 {
    font-size: 25px;
  }

  .inner-about-description {
    font-size: 13px;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 20px;
  }

  .section-container {
    margin: 15px 15px 0 15px;
  }

  .inner-about-description {
    font-size: 13px;
  }

  a.link-item {
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  a.link-item:first-of-type {
    margin: 0 auto;
  }
}