$Black: #000000;
$Cyan: #5fb4a2;
$DGrey: #34323d;
$LGrey: #dddddd;
$LGrey50: #F6F6F6;
$Grey: #33323d;
$White: #ffffff;

@mixin Public {
  font-family: "Public Sans", sans-serif;
}

@mixin Ibarra {
  font-family: "Ibarra Real Nova", serif;
}

@mixin Poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

@mixin linkStyle($c1, $d1, $c2, $d2) {
  a:link {
    color: $c1;
    text-decoration: $d1;
    transition: 0.2s ease-in-out;
  }

  a:visited {
    color: $c1;
    text-decoration: $d1;
  }

  a:hover {
    color: $c2;
    text-decoration: $d2;
    opacity: 50%;
  }

  a:active {
    color: $c2;
    text-decoration: $d2;
  }
}

@mixin breakpoint-largedesktop {
  @media (min-width: 2000px) {
    @content;
  }
}

@mixin breakpoint-mediumdesktop {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin breakpoint-smalldesktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin breakpoint-tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin breakpoint-mobile {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin breakpoint-mobileLandscape {
  @media (max-height: 560px) and (orientation: landscape) {
    @content;
  }
}

@mixin breakpoint-smallmobile {
  @media (max-width: 320px) {
    @content;
  }
}

h1 {
  @include Poppins;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;

  @include breakpoint-smalldesktop {
    font-size: 2rem;
  }

  @include breakpoint-mobile {
    font-size: 2rem;
  }

  @include breakpoint-smallmobile {
    font-size: 1.6rem;
  }
}

h2 {
  @include Ibarra;
  font-size: 2.5rem;
  padding-bottom: 1rem;

  @include breakpoint-mobile {
    font-size: 2rem;
  }
}

p,
li {
  @include Public;
  color: $Grey;
  font-size: 1rem;
  line-height: 30px;

  @include breakpoint-mediumdesktop {
    font-size: .9rem;
  }

  @include breakpoint-mobile {
    font-size: 0.9rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.curtain {
  background-image: linear-gradient(to bottom, $Black 50%, $White 50%);

  &::after {
    content: "";
    display: block;
    min-height: 100vh;
  }

  .invert {
    position: sticky;
    top: 20px;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      h1,
      p {
        color: $White;
      }

      svg {
        fill: $White;
      }

      .slogan {
        @include Public;
        color: $White;
        width: 100%;
        text-align: center;
        margin: 1rem 0;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 0.8rem;

        @include breakpoint-mobile {
          letter-spacing: 5px;
          font-size: 0.7rem;
        }
      }

      .cta {
        margin-top: 5rem;

        svg {
          fill: $White;
          width: 40px;
          transition: .2s ease-in-out;

          &:hover {
            opacity: 50%;
          }
        }
      }
    }
  }
}

main {
  padding: 0 5rem 5rem 5rem;

  @include breakpoint-smalldesktop {
    padding: 0 2rem 2rem 2rem;
  }

  #about {
    .row {
      display: flex;
      align-items: center;
      width: 100%;

      .col {
        flex: 1 0 50%;
      }

      .image {
        img {
          width: 80%;
          height: 80%;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid $LGrey;
        }
      }

      .text {
        ul {
          display: grid;
          grid-template-columns: repeat(2, minmax(140px, 200px));
          gap: 0px 10px;
          padding: 0px;
          margin: 20px 0px 0px;
          overflow: hidden;
          list-style: none;
        }

        li {
          position: relative;
          padding-left: 20px;

          &::before {
            content: "▹";
            position: absolute;
            left: 0px;
            top: 8px;
            color: $Black;
            font-size: 1rem;
            line-height: 12px;
          }
        }
      }
    }

    @include breakpoint-smalldesktop {
      .row {
        display: block;

        .col {
          &:first-of-type {
            text-align: center;
            margin-bottom: 2rem;
          }

          &:last-of-type {
            p {
              width: 95%;
            }
          }
        }
      }
    }
  }

  .divider {
    margin: 6rem auto;
    background-color: $LGrey;
    height: 1px;
    width: 50%;

    @include breakpoint-mobile {
      width: 80%;
    }
  }

  #portfolio {
    .project {
      margin: 4rem 0;

      .row {
        display: flex;

        &.left {
          -webkit-flex-direction: row;
          flex-direction: row;

          .col:last-of-type {
            margin-right: 0;
          }
        }

        &.right {
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;

          .col:first-of-type {
            margin-left: 0;
          }
        }

        .col {
          flex: 1 0 50%;

          &:nth-child(1) {
            img {
              width: 100%;
              object-fit: contain;
            }
          }

          &:nth-child(2) {
            margin: 0 5rem;
            max-width: 500px;
            align-self: center;

            .text {

              .languages {
                @include Public;
                color: $Cyan;
                font-weight: bold;
                font-size: 0.8rem;
                margin: 1rem 0;
              }

              .buttons {
                svg {
                  width: 20px;
                  height: 20px;
                  transition: 0.2s ease-in-out;
                  margin-right: 1rem;

                  &:hover {
                    fill: $Cyan;
                  }
                }
              }
            }
          }
        }
      }
    }

    @include breakpoint-smalldesktop {
      .project .row {
        display: block;

        .col {
          &:nth-child(2) {
            margin: 2rem 0;
            max-width: 100%;
          }
        }
      }
    }
  }

  @include breakpoint-mobile {
    padding: 2rem;
  }
}

footer {
  background-color: $DGrey;
  padding: 4rem;
  text-align: center;
  @include linkStyle($White, none, $White, none);
  @include Public;

  .links {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;

    a {
      font-weight: bold;
      margin-bottom: 1rem;
      letter-spacing: 3px;
      font-size: 0.75rem;
    }
  }

  .social {
    margin: 2rem 0;

    svg {
      fill: $White;
      width: 25px;
      height: 25px;
      margin: 0 0.5rem;
    }
  }
}